body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo suave */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
    margin: 0; /* Sin márgenes */
    background-image: url('IMG/PERFIL.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la pantalla */
    height: 100vh; /* Hace que el body ocupe toda la altura de la ventana */
    margin: 0; /* Elimina el margen por defecto */
}

.container {
    width: 300px; /* Ancho del contenedor */
    padding: 40px; /* Espaciado interno */
    background-color: rgb(201, 25, 255); /* Color de fondo del contenedor */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0); /* Sombra sutil */
}

h1 {
    text-align: center; /* Centrar el título */
    color: #333; /* Color del texto del título */
}

label {
    display: block; /* Hacer que las etiquetas ocupen toda la línea */
    margin-bottom: 5px; /* Espacio debajo de las etiquetas */
}

input[type="email"],
input[type="password"] {
    width: 99%; /* Ancho completo del campo de entrada */
    padding: 10px; /* Espaciado interno en los campos de entrada */
    margin-bottom: 15px; /* Espacio debajo de los campos de entrada */
    border-radius: 4px; /* Bordes redondeados para los campos de entrada */
    border: 1px solid #ccc; /* Borde gris claro */
}

input[type="checkbox"] {
    margin-right: 5px; /* Espacio a la derecha del checkbox */
}

button {
    width: 100%; /* Botón con ancho completo */
    padding: 10px; /* Espaciado interno en el botón */
    background-color: #007bff; /* Color azul para el botón */
    color: white; /* Texto blanco en el botón */
    border: none; /* Sin borde en el botón */
    border-radius: 3px; /* Bordes redondeados para el botón */
    cursor: pointer; /* Cambiar cursor al pasar por encima del botón */
}

button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse sobre el botón */
}

p {
    text-align: center; /* Centrar párrafo debajo del formulario */
}

a {
    color: #007bff; /* Color azul para los enlaces */
    text-decoration: none; /* Sin subrayado en los enlaces */
}

a:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse sobre el enlace */
}